# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.env/
AzureCW/

# VS Code
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# AzureML
*.aml/
azureml-logs/

# System Files
.DS_Store
Thumbs.db

# Git LFS
*.psd
*.tiff
*.mp4
*.mp3
*.mov
*.wav

Lib/
Scripts/